body {
	background-color: var(--backgroundcolor-header);
	font-family: Roboto, san-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--fontcolor-main);
}

/* reset styles */
h1,
h2,
h3,
p {
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
}

a {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

ul,
li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* div container styles */
@media screen and (min-width: 480px) {
	.container {
		max-width: 448px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}