.button-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border: 0px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--fontcolor);
    background-color: #2196f3;
    border: none;
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--background-color-btn);
    color: var(--fontcolor-secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--timing);
}

/* button form */
.btn-form {
    position: absolute;
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    top: 451px;
    left: 124px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--fontcolor);
}

/* buttons */
.work-btn {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.work-btn__item:not(:last-child) {
    margin-right: 8px;
}

.work-button {
    line-height: 26px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: var(--fontcolor-secondary);
    background-color: var(--background-color-btn);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}

.work-button:hover,
.work-button:focus {
    background-color: var(--accent-color);
    color: var(--fontcolor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color var(--timing);
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
    .btn-footer {
        // position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 29px;
        top: 17px;
        right: -60%;
        transform: translateY(35%);
        width: 200px;
        height: 50px;
        background: #2196F3;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    .form-svg-footer {
        margin-left: 10px;
        fill: var(--backgroundcolor-header);
    }

    .btn-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1200px) {
    .btn-footer {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 29px;
        top: 17px;
        right: -60%;
        transform: translateY(35%);
        width: 200px;
        height: 50px;
        background: #2196F3;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    .form-svg-footer {
        margin-left: 10px;
        fill: var(--backgroundcolor-header);
    }

    .btn-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
}