/* regular-customer */
.cliet-headlines {
    margin-bottom: 50px;
    font-style: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--fontcolor-secondary);
}

.client-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.client-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client-item:focus {
    border: 1px solid var(--accent-color);
    transition: border var(--timing);
}

.client-item:hover {
    border: 1px solid var(--accent-color);
    transition: border var(--timing);
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-item__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}

.client-item__link:focus,
.client-item__link:hover {
    fill: var(--accent-color);
    transition: fill var(--timing);
}