.form {
    position: relative;
    display: flex;
    flex-direction: column;
}


.form-titel {
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: Bold;
    font-size: 20px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    color: var(--fontcolor-secondary);
}

.input-titel {
    position: absolute;
    top: -28px;
    left: 0%;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #757575;
}

.input-titel-comment {
    position: absolute;
    top: -20px;
    left: 0%;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #757575;
}



.form-name {
    position: absolute;
    top: 65px;


}

.form-tel {
    position: absolute;
    top: 133px;
}

.form-mail {
    position: absolute;
    top: 201px;
}

.form-textarea {
    position: absolute;
    top: 255px;
}

.form-checkbox {
    position: absolute;
    top: 397px;
}
.form-name-input:focus+.form-svg {
    fill: var(--accent-color);
    transition: fill var(--timing);
}

.form-tel-input:focus+.form-svg {
    fill: var(--accent-color);
    transition: fill var(--timing);
}

.form-mail-input:focus+.form-svg {
    fill: var(--accent-color);
    transition: fill var(--timing);
}

/* hover */

.form-name-input:hover+.form-svg {
    fill: var(--accent-color);
    transition: fill var(--timing);
}

.form-tel-input:hover+.form-svg {
    fill: var(--accent-color);
    transition: fill var(--timing);
}

.form-mail-input:hover+.form-svg {
    fill: var(--accent-color);
    transition: fill var(--timing);
}

.contact-form-field:hover {
    border: 1px solid var(--accent-color);
}

.form-name-input:hover {
    border: 1px solid var(--accent-color);
}

.form-mail-input:hover {
    border: 1px solid var(--accent-color);
}

.form-tel-input:hover {
    border: 1px solid var(--accent-color);
}
/* input style */
.form-name-input,
.form-tel-input,
.form-mail-input {
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.contact-form-field {
    width: 448px;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.contact-form-field,
.form-name-input,
.form-tel-input,
.form-mail-input {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

/* chekbox */
.form-checkbox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-checkbox-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    outline: 2px solid #9da4bd;
    outline-offset: -2px;
    border-radius: 2px;

    transition: outline-color var(--timing), background-color var(--timing);
}

.form-checkbox-input:focus+.form-checkbox-custom-checkbox {
    background: #2196F3;

}

.form-checkbox-icon {
    fill: var(--backgroundcolor-header);
}



.form-checkbox-agreement {
    font-size: 14px;
    line-height: 1.7;
}

.form-checkbox-input {
    position: absolute;
    -webkit-appearance: none;
}

.offer-option {
    text-decoration: underline;
    color: #2196F3;
}

.contact-form-label,
.form-checkbox-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.form-name,
.form-tel,
.form-mail,
.form-checkbox {
    position: relative;
}

/* form svg position */

.form-svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--fontcolor-secondary);
}
.form-footer {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    position: relative;
}
.footer-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:hover {
    background: #2F303A;
    border: 1px solid rgba(33, 150, 243, 0);
    transition: border var(--timing);
}

.footer-input:focus {
    background: #2F303A;
    border: 1px solid rgba(33, 150, 243, 0);
    transition: border var(--timing);
}