.logo {
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fontcolor-secondary);
}

.logo-header {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fontcolor-secondary);
    align-items: flex-end;
}

.logo-web {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.logo:hover,
.logo:focus .logo-web:hover,
.logo-web:focus {
    color: var(--accent-color);
    transition: color var(--timing);
}

@media screen and (min-width: 480px) and (max-width:767px) {
    .logo {
        display: flex;
        flex-direction: column;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--fontcolor-secondary);
    }

    .logo-web {
        color: var(--accent-color);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }


}

@media screen and (min-width: 767px) {
    .logo {
        display: flex;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--fontcolor-secondary);
    }

    .logo-web {
        color: var(--accent-color);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }



}


@media screen and (min-width: 1200px) {

    .logo {
        display: inline-block;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--fontcolor-secondary);
    }

    .logo-web {
        display: inline-block;
        color: var(--accent-color);
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }




}