.logo-mob-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {

  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(100%);
  transition: transform var(--timing);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;

}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu-item__link {
  font-family: inherit;
  font-style: inherit;
  color: #212121;


}

.mobile-menu-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  text-align: start;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
  color: #2196F3;
}

.current-mobile {
  color: #2196F3;
  text-decoration: none;
}

.mobile-menu__adress {
  margin-top: 250px;
}

.mobile-menu-item__tel {
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mobile-menu-item__adress {
  font-size: 24px;
}

.mobile-menu__social {
  max-width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mobile-menu__social-link:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: #2196F3;
}