/* team ready */

.team__headlines {
	margin-bottom: 50px;
	font-style: 700;
	font-size: 28px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--fontcolor-secondary);
}

.team {
	background-color: #f5f4fa;
}

.team__list-card {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	line-height: 1.2;
	text-align: center;
	color: var(--fontcolor-secondary);
	background-color: var(--backgroundcolor-header);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__article-head {
	padding-top: 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.team__article-skill {
	padding-top: 10px;
	font-weight: 400;
	color: var(--fontcolor-main);
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.team__list {
		margin: auto;
	}
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
	.team__list {
		display: grid;
		grid-template-columns: auto auto;
		gap: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.team__list {
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	.team__headlines {
		font-size: 36px;
	}

	.team__list-card:not(:last-child) {
		margin-right: 30px;
	}
}